<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta property="og:title" content="TKTV - 인터넷신문/방송"/>
    <meta property="og:image" content="http://itktv.cafe24.com/static/img/mobile/kakao.png"/>
    <meta property="og:site_name" content="TKTV - 인터넷신문/방송"/>
    <meta property="og:url" content="http://itktv.cafe24.com/mobile/auto_down/"/>
    <meta property="og:description" content="TKTV - 인터넷신문/방송! 무료 앱 설치하기"/>
</head>
<body>
<script>
    location.href="https://play.google.com/store/apps/details?id=me.jerrypark.mobile.tktv";
</script>
</body>
</html>