{% if list %}
    <div class="paginate_complex">
        <a href="{% if list.has_previous %}?page={{ list.previous_page_number }}{% endif %}" class="direction prev"><span></span>이전</a>
        {% for pn in list.paginator.page_range %}
            {% if pn == list.number %}
                <strong>{{ pn }}</strong>
            {% else %}
                <a href="?page={{ pn }}">{{ pn }}</a>
            {% endif %}
        {% endfor %}
        <a href="{% if list.has_next %}?page={{ list.next_page_number }}{% endif %}" class="direction next">다음<span></span></a>
    </div>
{% endif %}
{% if submenu.permission_write.level <= user.profile.grade.level %}
    <button type="button" class="btn btn-default" id="btn_write" onclick="location.href='/mobile/board/write/{{ submenu.id }}';"><i class="xe-pen"></i> 글쓰기</button>
{% endif %}