#container #aside {position:relative;float:left;width:250px;margin: 0;}
#container #aside #div_aside_submenu {background-color:#fafafa;margin:10px}
#container #aside #div_aside_submenu #p_submenu_title {font-size: 18px;font-weight: 600;line-height: 55px;border-bottom: 1px solid #eee;background-color: #2a84bf;color: #fff;padding-left: 20px;margin-bottom: 15px;}
#container #aside #div_aside_submenu #p_submenu_title i {font-size: 18px;color: #ccc;}
#container #aside #div_aside_submenu .li_submenu_list {color:#666;font-size: 14px;margin-left: 20px;margin-bottom: 15px;cursor: pointer}
#container #aside #div_aside_submenu .li_submenu_list:hover {color:#000}
#container #aside #div_aside_submenu .li_submenu_list i {font-size: 14px;color: #ccc;}

#container #content{float:right;position:relative;width:870px;height:100%;margin:0;}
#container #content .div_list_title { border-bottom: 2px solid #aaa;padding: 5px; }
#container #content .div_list_title .span_title_sub {font-weight:600;font-size: 14px;color: #e67e22;}
#container #content .div_list_element {padding: 10px;min-height: 208px;display: inline-block;}
#container #content .div_list_click:hover {background-color: #f5f5f5;cursor:pointer}
#container #content .div_list_element .div_element_img { width:100%;height:130px; border: 1px solid #eee; color: #fff; margin-bottom: 5px;}
#container #content .div_list_element .div_element_img {background-repeat: no-repeat;background-position: center center;background-size: 100% auto}
#container #content .div_list_element .div_element_img .img_element_src { max-width: 100%;max-height:100%;width:100%; }
#container #content .div_list_element .div_element_img .p_img_tmp {font-size:40px;text-align: center; width:100%;background-color: #95a5a6;}
#container #content .div_list_element .div_element_img .p_img_tmp:hover {font-size:50px}
#container #content .div_list_element .div_element_img .p_img_tmp i {font-size:inherit;line-height: 130px;}
#container #content .div_list_element .p_element_date {color: #aaa; text-align: center;font-size: 12px;}
#container #content .div_list_element .p_element_title { font-size: 12px;font-weight: 600; margin-bottom: 2px; text-align: center;}

/* UI Object */
.paginate_complex {padding:15px 0;line-height:normal;text-align:center}
.paginate_complex a,
.paginate_complex strong{display:inline-block;position:relative;z-index:2;margin:0 -3px;padding:1px 8px;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background-color:#fff;font:600 12px/16px;color:#323232;text-decoration:none;vertical-align:top}
.paginate_complex a:hover,
.paginate_complex a:active,
.paginate_complex a:focus{background-color:#f8f8f8}
.paginate_complex strong{color:#ff8600}
.paginate_complex .direction{border:0;font-weight:normal;color:#767676;text-decoration:none !important;z-index:1}
.paginate_complex .direction:hover,
.paginate_complex .direction:active,
.paginate_complex .direction:focus{color:#323232;background-color:#fff}
.paginate_complex .prev{border-left:0}
.paginate_complex .next{border-right:0}
.paginate_complex .direction span{display:inline-block;position:relative;top:4px;width:0;height:0;font-size:0;line-height:0;vertical-align:top}
.paginate_complex .prev span{*left:-4px;margin-right:1px;border:3px solid;border-top:solid #fff;border-bottom:solid #fff;border-left:0}
.paginate_complex .next span{margin-left:1px;border:3px solid;border-top:solid #fff;border-bottom:solid #fff;border-right:0}
/* //UI Object */

#btn_write {float:right;margin-top: -40px;}