/* Common */
html,body{width:100%;height:100%;background:#f5f5f5}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
* {font-size:12px;font-family: 'Apple SD Gothic Neo','나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',dotum,'굴림',gulim,applegothic,sans-serif;}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;cursor:pointer;color:inherit;}
a:hover,a:active,a:focus{text-decoration:none;color:inherit;}

.div_feed{margin:10px;background-color: #fff;border: 1px solid #eaeaea;/* border-radius: 4px; */-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);box-shadow: 0 1px 1px rgba(0,0,0,0.05);min-width:50px;min-height:50px;overflow:hidden}
.div_feed i{position: relative;top: 1px;font-size: 14px;}

/* Layout */
.imgbtn{cursor:pointer}
.bold {font-weight: bold}
.blind {overflow: hidden;position: absolute;top: 0;left: 0;width: 1px;height: 1px;font-size: 0;line-height: 0;}
.click {cursor:pointer}
.tooltip .tooltip-inner {min-width: 160px;}

#wrap{position:relative;width:100%;min-width:1140px;min-height:100%;margin:0 auto;background: #fff;}

#top_menu {position:absolute;width:100%;top:0;left:0;z-index: 20;background-color: #000;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);}
#top_menu #content{position:relative;width:1140px;height: 45px;left:50%;margin-left:-570px;}
#top_menu #content #ul_top_quick > li {line-height:45px;padding:0 10px;color:#aaa;border-right:1px solid #303030;cursor:pointer;float:left;}
#top_menu #content #ul_top_quick > li:first-child {border-left:1px solid #303030}
#top_menu #content #ul_top_quick > li:hover {background-color:RGBA(255,255,255,0.15);color:#FFF;font-style: normal}
#top_menu #content #li_top_profile:hover {background-color:RGBA(255,255,255,0.15);color:#fff}
#top_menu #content #li_top_profile #img_profile_usericon {height: 35px;margin:5px;border-radius:41px;float:left}
#top_menu #content #li_top_profile #span_profile_username {line-height:45px;padding: 0 5px;float:left}
#top_menu #content #li_top_login {border-left:1px solid #303030}
#top_menu #content #p_top_date {position:absolute;top:0;left:50%;margin-left: -90px;width: 180px;line-height:45px;color:#fff;text-align: center;font-size: 13px;}

#logo_line {position:absolute;width:100%;top:45px;left:0;z-index:10;}
#logo_line #content{position:relative;width:1140px;height: 120px;left:50%;margin-left:-570px;}
#logo_line #content #img_logo_img {position:absolute;top: 32px;left:50%;margin-left: -150px;width:300px;}
#logo_line #content #img_logo_img {position:absolute;top: 32px;left:50%;margin-left: -150px;width:300px;}
#logo_line #content #p_logo_banner_left {height:120px;float:left;}
#logo_line #content #p_logo_banner_right {height:120px;float:right;}
#logo_line #content .p_logo_banner .helper {display: inline-block;height: 100%;vertical-align: middle;}
#logo_line #content .p_logo_banner img {background: #3A6F9A;vertical-align: middle;max-height: 120px;}
#logo_line #p_side_banner_left { position: fixed;  top: 240px;right: 50%;margin-right: 580px;  z-index: 1000; }
#logo_line #p_side_banner_right { position: fixed;top: 240px;left: 50%;margin-left: 580px;z-index: 1000; }

#main_menu {position:absolute;width:100%;top: 165px;left:0;z-index:10;background-color: #f2f2f2;border-top: 3px solid RGBA(0,0,0,0.05);}
#main_menu #content{position:relative;width:1140px;height: 60px;left:50%;margin-left:-570px;}
#main_menu #content #ul_mainmenu_list > li { width: 110px;color:#333;float:left;border-right:2px solid #fff;line-height: 60px;text-align: center;cursor: pointer}
#main_menu #content #ul_mainmenu_list > li > a {width: 100%;font-size:13px;font-weight:bold;height: 100%;display: block;}
#main_menu #content #ul_mainmenu_list > li:hover {background-color:#76d4ee;color:#fff}
#main_menu #content #ul_mainmenu_list > li > a.active {background-color:#76d4ee;color:#fff}
#main_menu #content #ul_mainmenu_list > .dropdown:hover .dropdown-menu { display: block;}
#main_menu #content #ul_mainmenu_list > li div {color:#000;line-height: 30px;margin: 0;border-radius: 0;border: 1px solid #ddd;border-top: 3px solid #5ABDD8;border-bottom: 3px solid #5ABDD8;padding: 0;width: 180px;}
#main_menu #content #ul_mainmenu_list > li ul {text-align: left;padding: 10px 0;}
#main_menu #content #ul_mainmenu_list > li ul li {font-size: 13px;line-height: 30px;padding: 0 10px;}
#main_menu #content #ul_mainmenu_list > li ul li:hover {background-color:#f5f5f5}
#main_menu #content #div_mainmenu_search {float:right;width: 170px;height: 100%;padding-top: 11px;}
#main_menu #content #div_mainmenu_search #input_search_txt {border: 0;border-bottom: 1px solid #ddd;border-radius:20px;padding-right: 35px;}
#main_menu #content #div_mainmenu_search #btn_search_click {font-size: 18px;color:#999;position: absolute;top: 18px;right: 12px;cursor:pointer}
#main_menu #content #div_mainmenu_search #btn_search_click:hover {font-size: 20px;}

i#btn_search_click {}

#container{position:relative;width:1140px;min-height:100%;left:50%;margin-left:-570px;padding-top:240px;padding-bottom:170px;z-index:0}
#container:after{display:block;clear:both;content:''}

#bottom_content {position:absolute;width:100%;bottom:0;left:0;z-index: 0;background-color: #3f3f3f}
#bottom_content #content{position:relative;width:1140px;height: 160px;left:50%;margin-left:-570px;}
#bottom_content #content .li_bottom_list {float: left;margin: 0 5px;margin-top: 15px;}
#bottom_content #content .li_bottom_list .span_bottom_btn{color: #fff;background-color: #999;font-size: 15px;font-weight: bold;padding: 4px 12px;border-radius: 15px;line-height: 56px;}
#bottom_content #content .li_bottom_list .span_bottom_btn:hover{background-color:#f1c40f}
#bottom_content #content .p_bottom_intro {color: #d0d0d0;font-size: 16px;font-weight: bold;padding-top: 85px;padding-left: 15px;}
#bottom_content #content .p_bottom_info {color: #999;font-size: 12px;padding-left: 15px;padding-top: 5px;}

#LoginModal .modal-dialog {width:400px}
#LoginModal .modal-dialog .modal-content {border-radius: 0;margin-top: 50%;}
#LoginModal .modal-dialog .modal-content .modal-body {background-color: #fafafa}
#LoginModal .modal-body #uid {font-size: 14px;width: 100%;height: 48px;margin-bottom: 10px;padding: 12px 6px 12px 10px;border: 1px solid #ccc;background-color: #fff;line-height: 14px;box-sizing: border-box;}
#LoginModal .modal-body #upw {font-size: 14px;width: 100%;height: 48px;margin-bottom: 10px;padding: 12px 6px 12px 10px;border: 1px solid #ccc;background-color: #fff;line-height: 14px;box-sizing: border-box;}
#LoginModal .modal-body .btn_submit {font-size: 15px;color: #fafafa;border: 1px solid #3f5ac9;background-color: #455ede;width: 100%;margin: 19px 0 0 0;padding: 14px 0px;cursor: pointer;}
#LoginModal .modal-body .login-footer {padding: 11px 0 0px;margin: 20px 40px 0;text-align: center;border-top: 1px solid #ccc;color: #888;}
#LoginModal .modal-body .bar {display: inline-block;margin: 0 8px;}
#LoginModal .modal-dialog .btn_close {position: absolute;top: -31px;right: 0;width: 26px;height: 26px;font-size: 26px;line-height: 26px;text-align: center;color: #fafafa;}
#LoginModal .modal-dialog .btn_close i {font-size: 26px;text-align: center;color: #fafafa;}

#JoinModal .modal-dialog {width:400px}
#JoinModal .modal-dialog .modal-content {border-radius: 0;margin-top: 50%;}
#JoinModal .modal-dialog .modal-content .modal-body {background-color: #fafafa}
#JoinModal .modal-body hr {margin-top: 10px;margin-bottom: 10px;border: 0;border-top: 1px solid #ccc;}
#JoinModal .modal-body .join-info { position: absolute; right: 30px; background-color: transparent;}
#JoinModal .modal-body .join-info i {font-size: 18px;}
#JoinModal .modal-body .join-info i.success {color:#2ecc71}
#JoinModal .modal-body .join-info i.fail {color:#e74c3c}
#JoinModal .modal-body #btn_join_chkid { color: #95a5a6; top: 34px; }
#JoinModal .modal-body #btn_join_chkpw { color: #95a5a6; top: 92px; }
#JoinModal .modal-body #btn_join_chkpw_ { color: #95a5a6; top: 150px; }
#JoinModal .modal-body #btn_join_chkemail { color: #95a5a6; top: 287px; }
#JoinModal .modal-body .join-form {font-size: 14px;width: 100%;height: 48px;margin-bottom: 10px;padding: 12px 6px 12px 10px;border: 1px solid #ccc;background-color: #fff;line-height: 14px;box-sizing: border-box;}
#JoinModal .modal-body .btn_submit {font-size: 15px;color: #fafafa;border: 1px solid #27ae60;background-color: #2ecc71;width: 100%;margin: 19px 0 0 0;padding: 14px 0px;cursor: pointer;}
#JoinModal .modal-dialog .btn_close {position: absolute;top: -31px;right: 0;width: 26px;height: 26px;font-size: 26px;line-height: 26px;text-align: center;color: #fafafa;}
#JoinModal .modal-dialog .btn_close i {font-size: 26px;text-align: center;color: #fafafa;}