<p class="p_comment_title">댓글 총 {{ boardreply|length }}개</p>
{% for br in boardreply %}
    <div class="div_list_comment">
        <img src="{{ br.user.profile.src.url }}" class="img_comment_src">
        {% if br.user == user or user.profile.grade.level == 10 %}<button class="btn btn-xs btn_comment_delete" onclick="replyDelete({{ br.id }})"><i class="xi-close"></i><i class="xe-ban"></i></button>{% endif %}
        <p class="p_comment_name">{{ br.user.first_name }}</p>
        <p class="p_comment_date">{{ br.date_updated|date:"Y-m-d H:i:s" }}</p>
        <p class="p_comment_con">{{ br.con }}</p>
    </div>
{% endfor %}