{% extends "head.html" %}
{% block content %}
    <div id="aside" class="row">
        <div id="div_aside_submenu" class="div_feed">
            <p id="p_submenu_title"><i class="xe-right-circle"></i> {{ submenu.main_menu.name }}</p>
            <ul>
                {% for sub in  submenu.main_menu.get_submenu %}
                    <a href="{{ sub.get_link }}"><li class="li_submenu_list {% if submenu.name == sub.name %}bold{% endif %}"><i class="xe-angle-right"></i> {{ sub.name }}</li></a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="content" class="row">
        <div class="col-lg-12 div_list_title">
            <span class="span_title_main">{{ submenu.main_menu.name }}</span> > <span class="span_title_sub">{{ submenu.name }}</span>
        </div>
        <div class="div_contents_body">
            <p class="p_body_title">{{ board.title }}</p>
            <p class="p_body_font">글자크기 : <button class="btn btn-xs btn-default" id="btn_font_up"><i class="xe-plus"></i></button><button class="btn btn-xs btn-default" id="btn_font_down"><i class="xe-minus"></i></button></p>
            <div class="div_body_info dropdown">
                <a id="reporter" role="button" data-toggle="dropdown" href="#">{{ board.user.first_name }} {{ board.user.get_profile.grade.grade }}</a> | 조회수:{{ board.hits }} | [{{ board.date_updated|date:"Y-m-d H:i:s" }}]
                <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="reporter">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">다른 기사보기</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">이메일 보내기</a></li>
                </ul>
            </div>
            <div class="p_body_con"><pre>{{ contents|safe }}</pre></div>
            <div id="div_comment_input">
                <p id="p_comment_length">0 / 200 자</p>
                <p id="p_comment_title">댓글쓰기</p>
                {% if user.id %}
                    <textarea class="form-control" id="textarea_comment_txt" maxlength="200" rows="3" placeholder="댓글을 입력하세요."></textarea>
                    <button class="btn btn-default" id="btn_comment_write">확인</button>
                {% else %}
                    <textarea class="form-control" id="textarea_comment_txt" maxlength="0" rows="3" placeholder="로그인 후 이용해주세요."></textarea>
                    <button class="btn btn-default" id="btn_comment_write">확인</button>
                {% endif %}
            </div>
            <div class="div_comment_list">&nbsp;</div>
        </div>
    </div>
    <script>
        var fontSize = 14;
        $("#main_menu #ul_mainmenu_list li:nth-child({{ submenu.main_menu.order }}) > a").addClass("active");

        $(".div_contents_body .div_comment_list").load("/board/reply/{{ board.id }}");

        $(".div_contents_body #btn_font_up").click(function(){
            if(fontSize < 24) fontSize += 2;
            setFontSize();
        });
        $(".div_contents_body #btn_font_down").click(function(){
            if(fontSize > 12) fontSize -= 2;
            setFontSize();
        });

        $("#div_comment_input #textarea_comment_txt").keyup(function(){
            $("#div_comment_input #p_comment_length").text($(this).val().length+" / 200 자");
        });

        function setFontSize(){
            $(".p_body_con pre").css({"font-size":fontSize+"px"})
            $(".p_body_con pre *").css({"font-size":fontSize+"px"})
        }

        {% if user.id %}
            $("#btn_comment_write").click(function(){
                var board_id = "{{ board.id }}";
                var con = $("#textarea_comment_txt").val();
                $(".div_contents_body .div_comment_list").hide().load("/board/reply/post/",{'csrfmiddlewaretoken':$("#wrap > input[name=csrfmiddlewaretoken]").val(),'board_id':board_id,'con':con},function(){
                    $("#textarea_comment_txt").val("");
                }).fadeIn(500);
            });

            function replyDelete(boardreply_id){
                if (confirm('정말 삭제하시겠습니까?')) {
                    $(".div_contents_body .div_comment_list").hide().load("/board/reply/delete/",{'csrfmiddlewaretoken':$("#wrap > input[name=csrfmiddlewaretoken]").val(),'boardreply_id':boardreply_id}).fadeIn(500);
                }
            }
        {% else %}
            $("#textarea_comment_txt").click(function(){
                $('#LoginModal').modal('show');
            });
        {% endif %}
    </script>
{% endblock %}