{% extends "head.html" %}
{% block content %}
    <div id="aside" class="row">
        <div id="div_aside_submenu" class="div_feed">
            <p id="p_submenu_title"><i class="xe-right-circle"></i> {{ submenu.main_menu.name }}</p>
            <ul>
                {% for sub in  submenu.main_menu.get_submenu %}
                    <a href="{{ sub.get_link }}"><li class="li_submenu_list {% if submenu.name == sub.name %}bold{% endif %}"><i class="xe-angle-right"></i> {{ sub.name }}</li></a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="content" class="row">
        <div class="col-lg-12 div_list_title">
            <span class="span_title_main">{{ submenu.main_menu.name }}</span> > <span class="span_title_sub">{{ submenu.name }}</span>
        </div>
        <div class="div_contents_body">
            <p class="p_body_title">{{ board.title }}</p>
            <p class="p_body_font">글자크기 : <button class="btn btn-xs btn-default" id="btn_font_up"><i class="xe-plus"></i></button><button class="btn btn-xs btn-default" id="btn_font_down"><i class="xe-minus"></i></button></p>
            <div class="div_body_info dropdown">
                <a id="reporter" role="button" data-toggle="dropdown" href="#">{{ board.user.first_name }} {{ board.user.get_profile.grade.grade }}</a> | [{{ board.date_updated|date:"Y-m-d H:i:s" }}]
                <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="reporter">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">다른 기사보기</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">이메일 보내기</a></li>
                </ul>
            </div>
            <div class="p_body_con"><pre>{{ contents|safe }}</pre></div>
        </div>
    </div>
    <script>
        var fontSize = 14;
        $("#main_menu #ul_mainmenu_list li:nth-child({{ submenu.main_menu.order }}) > a").addClass("active");
        $(".div_contents_body #btn_font_up").click(function(){
            if(fontSize < 24) fontSize += 2;
            setFontSize();
        });
        $(".div_contents_body #btn_font_down").click(function(){
            if(fontSize > 12) fontSize -= 2;
            setFontSize();
        });
        function setFontSize(){
            $(".p_body_con pre").css({"font-size":fontSize+"px"})
        }
    </script>
{% endblock %}