{% extends "head.html" %}
{% block content %}
    {% if submenu.permission_write.level <= user.get_profile.grade.level %}
        <div id="aside" class="row">
            <div id="div_aside_submenu" class="div_feed">
                <p id="p_submenu_title"><i class="xe-right-circle"></i> {{ submenu.main_menu.name }}</p>
                <ul>
                    {% for sub in  submenu.main_menu.get_submenu %}
                        <a href="{{ sub.get_link }}"><li class="li_submenu_list {% if submenu.name == sub.name %}bold{% endif %}"><i class="xe-angle-right"></i> {{ sub.name }}</li></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="content" class="row">
            <div class="col-lg-12 div_list_title">
                <span class="span_title_main">{{ submenu.main_menu.name }}</span> > <span class="span_title_sub">{{ submenu.name }}</span>
            </div>
            <div class="div_contents_body">
                <form id="form_contents" class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="input_title">제목</label>
                        {% if board %}
                            <input type="text" class="form-control" id="input_title" name="input_title" placeholder="{{ board.title }}">
                        {% else %}
                            <input type="text" class="form-control" id="input_title" name="input_title" placeholder="제목을 입력해주세요.">
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>
                            {% if board %}
                                <input type="checkbox" id="input_headline" name="input_headline" value="1" {% if board.is_headline %}checked{% endif %}> 헤드라인
                            {% else %}
                                <input type="checkbox" id="input_headline" name="input_headline" value="1"> 헤드라인
                            {% endif %}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="input_con">내용</label>
                        <textarea type="text" class="form-control" id="input_con" name="input_con" rows="15" placeholder="내용을 입력해주세요."></textarea>
                    </div>
                    {% if board %}

                    {% else %}
                        <div class="col-lg-12" id="div_con_imgs"></div>
                        <span id="span_con_addfiles" onclick="addFileInput()">...이미지 슬록 추가</span>
                    {% endif %}
                    <hr/>
                    <div class="form-group">
                        {% if board %}
                            <button type="submit" class="btn btn-default">수정 완료</button>
                        {% else %}
                            <button type="submit" class="btn btn-default">작성 완료</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <script>
            var img_file_no = 0;
            addFileInput();
            $("#main_menu #ul_mainmenu_list li:nth-child({{ submenu.main_menu.order }}) > a").addClass("active");

            {% if board %}
                $("#input_con").html("{{ contents|safe|escapejs }}");
            {% endif %}

            function addFileInput(){
                var input_html = "<div class='form-group'><label for='exampleInputFile'>첨부 이미지 "+img_file_no+"</label> <input type='file' id='input_file"+img_file_no+"' name='input_file'> <p class='help-block'>추가하실 부분에 <b>&lcub;&lcub;"+img_file_no+"&rcub;&rcub;</b>을 입력해주세요.</p></div>";
                $("#div_con_imgs").append(input_html);
                img_file_no++;
            }
        </script>
    {% endif %}
{% endblock %}