<!DOCTYPE html>
<html>
<head lang="kr">
    <meta charset="UTF-8">
    <title>{{ getMain.mainImg.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/focuspoint.css">
    <link rel="stylesheet" type="text/css" href="/static/css/xeicon.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/{{ appname }}.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrap">
    {% csrf_token %}
    <!-- top_menu -->
    <div id="top_menu">
        <div id="content">
            <ul id="ul_top_quick">
                <li onclick="location.href='/page/28';">제보하기</li>
                <li>광고문의</li>
                {% if user.id %}
                    <li role="presentation" class="dropdown navbar-right" id="li_top_profile" style="float:right">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img id="img_profile_usericon" src="{{ user.get_profile.src.url }}">
                            <span id="span_profile_username">{{ user.first_name }}</span>
                            <span id="span_profile_drop">▼</span>
                        </a>
                        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                            {#                            <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Action</a></li>#}
                            {#                            <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Another action</a></li>#}
                            {% if user.get_profile.grade.level == 10 %}<li role="presentation"><a role="menuitem" tabindex="-1" href="/admin/" target="_blank">관리자 페이지</a></li>{% endif %}
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/logout/">로그아웃</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li id="li_top_join" style="float:right" onclick="$('#JoinModal').modal('show');">
                        회원가입
                    </li>
                    <li id="li_top_login" style="float:right" onclick="$('#LoginModal').modal('show');">
                        로그인
                    </li>
                {% endif %}
            </ul>
            <p id="p_top_date"></p>
        </div>
    </div>
    <!-- //top_menu -->
    <!-- Logo_line -->
    <div id="logo_line">
        <div id="content">
            <p id="p_logo_banner_left" class="p_logo_banner">
                <span class="helper"></span>
                <a href="{{ getMain.mainImg.get_img.top_banner_left.url }}"><img src="{{ getMain.mainImg.get_img.top_banner_left.src.url }}"></a>
            </p>
            <a href="{{ mainImg.get_img.top_logo.url }}/" title="{{ getMain.mainImg.title }}"><img id="img_logo_img" src="{{ getMain.mainImg.get_img.top_logo.src.url }}"></a>
            <p id="p_logo_banner_right" class="p_logo_banner">
                <span class="helper"></span>
                <a href="{{ getMain.mainImg.get_img.top_banner_right.url }}"><img src="{{ getMain.mainImg.get_img.top_banner_right.src.url }}"></a>
            </p>
        </div>
        <a id="p_side_banner_left" href="{{ getMain.mainImg.get_img.side_banner_left.url }}"><img src="{{ getMain.mainImg.get_img.side_banner_left.src.url }}"></a>
        <a id="p_side_banner_right" href="{{ getMain.mainImg.get_img.side_banner_right.url }}"><img src="{{ getMain.mainImg.get_img.side_banner_right.src.url }}"></a>
    </div>
    <!-- //Logo_line -->
    <!-- Main_menu -->
    <div id="main_menu">
        <div id="content">
            <ul id="ul_mainmenu_list">
                {% for mm in getMain.main_menu %}
                    <li class="dropdown">
                        <a id="dLabel" role="button" data-target="#" href="{{ mm.get_link }}">{{ mm.name }}</a>
                        {% if mm.get_submenu %}
                            <div id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                <ul>
                                    {% for sm in mm.get_submenu %}
                                        <li role="presentation" onclick="location.href='{{ sm.get_link }}';"><i class="xe-angle-right"></i> {{ sm.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <div id="div_mainmenu_search">
                <form method="get">
                    <input type="text" class="form-control" id="input_search_txt" name="query" placeholder="검색">
                    <button id="btn_search_click"><i class="xe-magnifier"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!-- //Main_menu -->
    <!-- Container -->
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    <!-- //Container -->
    <!-- Bottom_content -->
    <div id="bottom_content">
        <div id="content">
            <ul>
                <li class="li_bottom_list"><img src="/static/img/main/bottom_logo.png"></li>
                <li class="li_bottom_list"><span class="span_bottom_btn click">회사소개</span></li>
                <li class="li_bottom_list"><span class="span_bottom_btn click">이용약관</span></li>
                <li class="li_bottom_list"><span class="span_bottom_btn click">개인정보보호정책</span></li>
                <li class="li_bottom_list"><span class="span_bottom_btn click">RSS</span></li>
            </ul>
            <p class="p_bottom_intro">MBC 선정 좋은한국인대상 수상, 사회봉사부문 신지식인 선정, TBC 선정 자랑스런 대경인상 수상자 운영</p>
            <p class="p_bottom_info">상호: TKTV인터넷신문.방송, 발행인: 이종민,  대표전화: 070-8637-2675 / 010-2881-8486  팩스: 053-289-1052<br/>
                등록번호: 대구 아00139 , 대구시 중구 동인동1가 382-6 대웅빌딩 3F, 기사제보 이메일 jmr10290@hanmail.net</p>
        </div>
    </div>
    <!-- //Main_menu -->
</div>

<!-- Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/user/login/" method="post">
                    {% csrf_token %}
                    <div class="control-group">
                        <input type="text" name="user_id" id="uid" required="" placeholder="아이디" title="아이디">
                        <input type="password" name="password" id="upw" required="" placeholder="비밀번호" title="비밀번호">
                        <input type="hidden" name="come_from" id="come_from" value="/">
                    </div>
                    <div class="control-group">
                        <input type="submit" value="로그인" class="btn_submit">
                    </div>
                </form>
                <div class="login-footer">
                    <a href="#">ID/PW 찾기</a>
                    <span class="bar">|</span>
                    <a href="#" onclick="onJoin()">회원가입</a>
                </div>
            </div>
            <a href="#" class="btn_close"><i class="xe-close"></i><span class="blind">닫기</span></a>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="JoinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="form_join" action="/user/join/" method="post">
                    {% csrf_token %}
                    <div class="control-group">
                        <a type="button" class="join-info" id="btn_join_chkid" data-toggle="tooltip" data-placement="right" title="" data-original-title="아이디를 입력하세요." chk="0"><i class="xe-exclamation-circle"></i></a>
                        <input class="join-form" type="text" name="user_id" id="uid" required="" placeholder="아이디" title="아이디">
                        <a type="button" class="join-info" id="btn_join_chkpw" data-toggle="tooltip" data-placement="right" title="" data-original-title="6자리 이상을 입력하세요." chk="0"><i class="xe-exclamation-circle"></i></a>
                        <input class="join-form" type="password" name="password" id="upw" required="" placeholder="비밀번호" title="비밀번호">
                        <a type="button" class="join-info" id="btn_join_chkpw_" data-toggle="tooltip" data-placement="right" title="" data-original-title="위 비밀번호와 똑같이 입력하세요." chk="0"><i class="xe-exclamation-circle"></i></a>
                        <input class="join-form" type="password" name="password_" id="upw_" required="" placeholder="비밀번호 확인" title="비밀번호 확인">
                        <hr/>
                        <input class="join-form" type="text" name="user_name" id="uname" required="" placeholder="이름" title="이름">
                        <a type="button" class="join-info" id="btn_join_chkemail" data-toggle="tooltip" data-placement="right" title="" data-original-title="이메일을 입력하세요." chk="0"><i class="xe-exclamation-circle"></i></a>
                        <input class="join-form" type="email" name="user_email" id="uemail" required="" placeholder="이메일" title="이메일">
                        <input class="join-form" type="text" name="user_phone" id="uphone" required="" placeholder="연락처 ex)010-2345-6789" title="연락처">
                        <p align="center">개인정보취급방침 자세히 보기</p>
                        <label for="check_opt"><input type="checkbox" id="check_opt"> 약관에 동의합니다.</label>
                    </div>
                    <div class="control-group">
                        <input type="button" value="회원가입" class="btn_submit" id="btn_join_submit">
                    </div>
                </form>
            </div>
            <a href="#" class="btn_close"><i class="xe-close"></i><span class="blind">닫기</span></a>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" src="/static/js/jquery.vticker.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.focuspoint.js"></script>
<script type="text/javascript" src="/static/js/head.js"></script>
<script>
    $('.dropdown-toggle').dropdown();
    $('.join-info').tooltip('hide')
    $('.btn_close').click(function(){ $('.modal').modal('hide'); });
    $('#LoginModal #come_from').val(location.href);
</script>
</body>
</html>