{% extends "head.html" %}
{% load main_extras %}
{% block content %}
    <div id="content">
        <div class="row">
            <div class="col-lg-12" id="div_content_mainimg">
                <div id="div_mainimg_con">
                    <div id="div_con_group" onclick="location.href='/#';">
                        <span id="span_con_menu">-</span>
                        <p id="p_con_date">-</p>
                        <p id="p_con_title">-</p>
                        <p id="p_con_con">-</p>
                    </div>
                </div>
                <img src="/static/img/main/btn_banner_next.png" id="btn_banner_next" class="btn_banner_controller">
                <img src="/static/img/main/btn_banner_prev.png" id="btn_banner_prev" class="btn_banner_controller">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="div_content_short">
                <p id="p_short_title" onclick="location.href='/board/26/';">공지사항</p>
                <div id="div_short_con">
                    <ul>
                        {% for notice in notices %}
                            <li onclick="location.href='/board/detail/{{ notice.id }}';" class="click">{{ notice.title }} <span>{{ notice.date_updated|date:"Y.m.d H:i:s" }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            {% for sub in subimg %}
                <div class="div_content_subimg" style="background-image:url({% if sub.ele.get_src.src %}{{ sub.ele.get_src.src.url }}{% else %}/static/img/main/blank_img.jpg{% endif %})" onclick="location.href='/board/detail/{{ sub.ele.id }}';">
                    <div id="div_subimg_con">
                        <div id="div_con_group">
                            <span id="span_con_menu" style="background-color:{{ sub.color }}">{{ sub.ele.submenu.main_menu.name }}</span>
                            <p id="p_con_title">{{ sub.ele.title }}</p>
                            <p id="p_con_date">{{ sub.ele.date_updated|date:"Y-m-d H:i:s" }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for mm in getMain.main_menu|slice:"1:5" %}
                <div class="col-lg-12 div_content_category">
                    <p class="p_category_title click" onclick="location.href='/board/{{ m_ele.get_link }}';">{{ mm.name }}</p>
                    {% for m1 in mm|get_board|slice:":1" %}
                        <div class="div_category_element_top click" onclick="location.href='/board/detail/{{ m1.id }}';">
                            {% if m1.get_src.is_visible %}<div class="div_element_img" style="background-image:url({{ m1.get_src.src.url}})"></div>{% endif %}
                            <p class="p_element_date">[{{ m1.date_updated|date:"Y-m-d H:i:s" }}]</p>
                            <p class="p_element_title">{{ m1.title|safe }}</p>
                            <p class="p_element_con">{{ m1.get_con|safe }}</p>
                        </div>
                    {% endfor %}
                    {% for m_ele in mm|get_board|slice:"1:6" %}
                        <p class="div_category_element click" onclick="location.href='/board/detail/{{ m_ele.id }}';"><i class="xe-angle-right"></i> {{ m_ele.title|safe }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="aside">
        <div class="col-lg-12" id="div_aside_topimg">
            <iframe width="300" height="169" src="//www.youtube.com/embed/-db6fDjAw-8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row" id="div_aside_quick">
            <div class="col-lg-4 div_quick_btn" id="quick_btn_1" onclick="location.href='/page/28';"><i class="xe-pencil-point"></i><br/>기사제보</div>
            <div class="col-lg-4 div_quick_btn" id="quick_btn_2" onclick="location.href='/board/29';"><i class="xe-status-check-homeout"></i><br/>기자 ROOM</div>
            <div class="col-lg-4 div_quick_btn" id="quick_btn_3" onclick="location.href='/page/27';"><i class="xe-user-info"></i><br/>시민기자신청</div>
        </div>
        <div class="col-lg-12" id="div_aside_hot">
            <p id="p_hot_title">많이 본 게시물</p>
            <ul>
                {% for hot in hotlist %}
                    {% if forloop.counter0 < 3 %}
                        <li class="li_hot_list" onclick="location.href='/board/detail/{{ hot.id }}';"><b>{{ forloop.counter0|add:1 }}</b> <b>[{{ hot.submenu.main_menu.name }}] {{ hot.title|safe|slice:":15" }}{% if hot.title|length > 15 %}...{% endif %}</b></li>
                    {% else %}
                        <li class="li_hot_list" onclick="location.href='/board/detail/{{ hot.id }}';"><b>{{ forloop.counter0|add:1 }}</b> [{{ hot.submenu.main_menu.name }}] {{ hot.title|safe|slice:":15" }}{% if hot.title|length > 15 %}...{% endif %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-12" id="div_aside_mainbbaner">
            <img src="/static/img/main/main_banner.png">
        </div>
        <div class="col-lg-12" id="div_aside_banners">
            {% for banner in getMain.mainImg.get_img.right_banner %}
                <img class="img_banners_banner" src="{{ banner.src.url }}" onclick="location.href='{{ banner.url }}';">
            {% endfor %}
        </div>
    </div>
    <script>
        $(function() {
            $('#div_short_con').vTicker();
        });

        var head_img_i = 0;
        var headimg = new Array();

        {% for hl in headline %}
            headimg.push({
                "src":"{% if hl.get_src.src %}{{ hl.get_src.src.url }}{% else %}/static/img/main/blank_img.jpg{% endif %}",
                "menu":"{{ hl.submenu.main_menu.name }}",
                "title":"{{ hl.title }}",
                "con":"{{ hl.get_con|safe|escapejs }}",
                "date":"{{ hl.date_updated|date:"Y-m-d H:i:s" }}",
                "link":"/board/detail/{{ hl.id }}"
            });
        {% endfor %}
        setHeadImg();
        var ani_speed = 7000;
        var ani_banner = setInterval("head_img_next()",ani_speed);

        function head_img_next(){
            head_img_i++;
            setHeadImg()
        }

        function head_img_prev(){
            if(head_img_i>0) head_img_i--;
            else head_img_i = headimg.length-1;
            setHeadImg()
        }

        function setHeadImg(){
            var i = head_img_i%headimg.length;
            $("#div_content_mainimg").css("background-image","url("+headimg[i]['src']+")");
            $("#div_content_mainimg").attr("onClick","location.href='"+headimg[i]['link']+"';");
            $("#div_content_mainimg #div_con_group").hide().fadeIn(500);
            $("#div_content_mainimg #span_con_menu").text(headimg[i]['menu']);
            $("#div_content_mainimg #p_con_title").text(headimg[i]['title']);
            $("#div_content_mainimg #p_con_con").html(headimg[i]['con']);
            $("#div_content_mainimg #p_con_date").text(headimg[i]['date']);
        }

        $("#btn_banner_next").mouseenter(function(){
            clearInterval(ani_banner);
        });

        $("#btn_banner_next").mouseleave(function(){
            ani_banner = setInterval("head_img_next()",ani_speed);
        });

        $("#btn_banner_prev").mouseenter(function(){
            clearInterval(ani_banner);
        });

        $("#btn_banner_prev").mouseleave(function(){
            ani_banner = setInterval("head_img_next()",ani_speed);
        });

        $("#btn_banner_next").click(function(){
            head_img_next();
            return false;
        });

        $("#btn_banner_prev").click(function(){
            head_img_prev();
            return false;
        });
    </script>
{% endblock %}