<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.7192885593145!2d128.60312643848087!3d35.87325543960515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e3d6a94fc88b%3A0xe26bbf4bb9a5e5d!2z64yA6rWs6rSR7Jet7IucIOykkeq1rCDrj5nsnbjrj5kx6rCAIDM4Mi02!5e0!3m2!1sko!2skr!4v1469471904546" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br/><br/>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody>
    <tr>
        <td valign="top" width="24" style="padding-left:2px;"><img height="27" width="19" alt=""
                                                                   src="http://static.naver.net/maps2/icons/pin_spot_new.gif">
        </td>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td colspan="2"
                        style="font-weight:bold; font-size:14px; letter-spacing:-1px; padding-bottom:12px; padding-top:4px; font-family:dotum, sans-serif; color:#000">
                        <a href="http://map.naver.com/?dlevel=12&amp;lat=35.8731243&amp;lng=128.6055483&amp;query=64yA6rWs6rSR7Jet7IucIOykkeq1rCDrj5nsnbjrj5kx6rCAIDM4Mi02&amp;type=ADDRESS&amp;tab=1&amp;isDetailAddress=true&amp;isNewAddress=false&amp;rcode=06110101&amp;enc=b64"
                           target="_blank"
                           style="font-weight:bold; font-size:14px; letter-spacing:-1px; font-family:dotum, sans-serif; color:#0033ac; text-decoration:underline;">대구광역시
                            중구 동인동1가 382-6 대웅빌딩 3F</a> <br> <span
                            style="display: inline-block; padding-top: 3px; font-size: 12px; font-weight: normal; letter-spacing: 0pt;">																																										<img
                            height="18" width="60" style="vertical-align: -4px;" alt="도로명주소"
                            src="http://static.naver.com/maps/ux2013/icons/ico_addr_road.png">																																																						대구광역시 중구 태평로 255-12												</span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="51"
                        style="font-size:12px; font-weight:bold; letter-spacing:-1px; font-family:dotum, sans-serif; color:#000">
                        버스
                    </td>
                    <td valign="top" width="486"
                        style="font-size:12px; font-family:dotum, sans-serif; padding-bottom:5px; color:#000">
                        425, 651, 401, 401, 401, 403, 618, 650, 708, 708
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="51" height="19"
                        style="font-size:12px; font-weight:bold; letter-spacing:-1px; font-family:dotum, sans-serif; color:#000">
                        지하철
                    </td>
                    <td valign="top" width="486"
                        style="font-size:12px; font-family:dotum, sans-serif; padding-bottom:5px; color:#000">
                        1호선(칠성시장)
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<br/><br/>